*,
*::before,
*::after {
    box-sizing: border-box;
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body{
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: beige;
    
}

.js-search-form{
    text-align: center;
    padding: 20px 16px;
    background-color: azure;

    border: 1px solid #212121;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.submit-btn{
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(98, 98, 225);
    border: 2px solid #212121;
    border-radius: 4px;
    min-width: 80px;
    min-height: 25px;

    &:hover,:focus{
        background-color: aquamarine;
        color: #212121;
    }
}

.form-input{
    height: 25px;
    border: 2px solid #212121;
    border-radius: 4px;
    &:hover,:focus{
        border: 2px solid rgb(2, 114, 77);
    }
}

.news-list{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    background-color: azure;
}

.news-list-active{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;

    border: 1px solid #212121;
    border-radius: 20px;
}

.element{
    flex-basis: calc((100% - 60px) / 4);
}

.loadmore-container{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.btn{
    position: relative;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 16px;
    margin-left: auto;
    text-align: center;
    min-width: 130px;
    cursor: pointer;


    color: #ffffff;
    background-color: rgb(98, 98, 225);
    border: 2px solid #212121;
    border-radius: 4px;

    &:hover,:focus{
        background-color: aquamarine;
        color: #212121;
        .spinner{
            border-top-color: yellow;
        }
    }
  
}

.spinner{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 10;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: yellow;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.is-hidden{
    display: none;
}


